#titulo {
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
}

#bobao {
    font-size: medium;
}

#caixadetexto {

    width: 100;
    height: 200;

}